title: Ask AI - Data Connector
description: Connect your e-commerce data to AI. Documentation for merchants.
baseurl: "/ask-ai-docs"
url: "https://charlesmarsh.github.io"

remote_theme: pages-themes/minimal@v0.2.0
plugins:
  - jekyll-remote-theme

markdown: kramdown
kramdown:
  input: GFM

permalink: pretty

defaults:
  - scope:
      path: ""
    values:
      layout: "default"

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
